@charset "UTF-8";
  
/* 전체 레이아웃 */
#wrap {
  width: 100%;
}
#header {
  width: 100%;
  height: 325px;
  background: #111111;
}
#contents {
  width: 100%;
  height: 800px;
  background: #222222;
}
#footer {
  width: 100%;
  height: 200px;
  background: #333333;
}

/* 컨텐츠 레이아웃 */
#contents_nav {
  width: 100%;
  height: 200px;
  background: #444444;
}
#contents_title {
  width: 100%;
  height: 200px;
  background: #555555;
}
#contents_banner {
  width: 100%;
  height: 200px;
  background: #666666;
}
#contents_contents {
  width: 100%;
  height: 200px;
  background: #777777;
}

/* 컨테이너 */
.container {
  width: 990px;
  height: inherit;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.3);
}

