@charset "UTF-8";

/* 스킵 메뉴 */
#skip {
  position: relative;
}
#skip a {
  position: absolute;
  left: 0;
  top: -35px;
  width: 180px;
  border: 1px solid #666666;
  font-size: 20px;
  font-weight: bold;
  color: #000000;
  background: #ffffff;
  text-align: center;
  line-height: 30px;
}
#skip a:active, #skip a:focus {
  top: 0;
}

/* 전체 레이아웃 */
#wrap {}
#header {
  width: 100%;
  height: 325px;
  background: url("../img/header_bg.jpg") center top repeat-x;
}
#contents {}
#footer {
  width: 100%;
  height: 200px;
  background: #333333;
}

/* 컨텐츠 레이아웃 */
#contents_nav {}
#contents_title {
  width: 100%;
  height: 200px;
  background: #555555;
}
#contents_banner {
  width: 100%;
  height: 200px;
  background: #666666;
}
#contents_contents {
  width: 100%;
  height: 200px;
  background: #777777;
}

/* 컨테이너 */
.container {
  width: 990px;
  height: inherit;
  margin: 0 auto;
  /* background: rgba(255, 255, 255, 0.3); */
}

/* 헤더 */
.header {}
.header .header-menu {
  text-align: right;
}
.header .header-menu a {
  display: inline-block;
  color: #ffffff;
  padding: 10px 0 10px 13px;
}
.header .header-menu a:hover {
  color: #666666;
  font-weight: bold;
}
.header .header-title {
  text-align: center;
}
.header .header-title h1 {
  display: inline-block;
  background: #4aa8d4;
  font-size: 28px;
  padding: 5px 20px 6px 20px;
  color: #ffffff;
  margin-top: 40px;
  font-weight: 800;
  text-transform: uppercase;
}
.header .header-title a {
  display: inline-block;
  background: #2698cb;
  font-size: 18px;
  color: #ffffff;
  padding: 5px 20px 6px 20px;
  margin-top: -5px;
  font-weight: 400;
}
.header .header-icon {
  text-align: center;
  margin-top: 30px;
}
.header .header-icon a {
  display: inline-block;
  width: 60px;
  height: 60px;
  background: url("../img/icon.png");
  margin: 0 3px;
}
.header .header-icon a.icon1 {
  background-position: 0 0;
}
.header .header-icon a.icon2 {
  background-position: 0 -60px;
}
.header .header-icon a.icon3 {
  background-position: 0 -120px;
}
.header .header-icon a.icon4 {
  background-position: 0 -180px;
}
.header .header-icon a.icon1:hover {
  background-position: -60px 0;
}
.header .header-icon a.icon2:hover {
  background-position: -60px -60px;
}
.header .header-icon a.icon3:hover {
  background-position: -60px -120px;
}
.header .header-icon a.icon4:hover {
  background-position: -60px -180px;
}

/* 전체 메뉴 */
.nav {
  overflow: hidden;
  padding: 30px 0;
}
.nav > div {
  float: left;
  width: 40%;
}
.nav > div.last {
  width: 20%;
}
/* last-child는 ie9부터 사용 가능 */
.nav > div:last-child {
  width: 20%;
}
.nav > div h3 {
  font-size: 18px;
  color: #25a2d0;
  margin-bottom: 4px;
}
.nav > div ol {
  overflow: hidden;
}
.nav > div ol li {
  float: left;
  width: 50%;
}
.nav > div ol.last li {
  width: 100%;
}
/* last-child는 ie9부터 사용 가능 */
.nav > div:last-child ol li {
  width: 100%;
}
.nav > div ol li a {
  font-weight: 400;
  color: #de94ff;
}
.nav > div ol li a:hover {
  font-weight: 800;
  text-decoration: underline;
}

